{{>header}}
<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <th>Purchase Amount</th>
            <th>Voucher Value</th>
            <th>Voucher Duration</th>
        </tr>
        <tr>
            <td>{{ purchase_amount }}</td>
            <td>{{ voucher_value }}</td>
            <td>{{ voucher_duration }}</td>
        </tr>
    </table>

</div> <!-- /container -->
{{>footer}}
