{{>header}}
<div class="container">

    <div class="jumbotron">
        <h1>{{ first }} {{ last }}</h1>
        <p class="lead">{{ email }}</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Make Purchase</a></p>
    </div>

</div> <!-- /container -->
{{>footer}}
