{{>header}}
<div class="container">

    <div class="jumbotron">
        <h1>Welcome</h1>
        <a href="/login" class="btn btn-lg btn-primary btn-block">Enter</a>
    </div>

</div> <!-- /container -->
{{>footer}}
