{{>header}}
<div class="container">

    <div class="jumbotron">
        <h1>Amount: {{ amount }}</h1>
        <p class="lead">Timestamp: {{ timestamp }}</p>
    </div>

</div> <!-- /container -->
{{>footer}}
