{{>header}}
<div class="container">

    <div class="jumbotron">
    	<p class="lead">Timestamp: {{ timestamp }}</p>
    	
        <h2>Cash: {{ cash }}</h2>
        <h2>Loyalty: {{ loyalty }}</h2>
        <h2>Total: {{ total }}</h2>
    </div>

</div> <!-- /container -->
{{>footer}}
