{{>header}}
<div class="container">

    <div class="jumbotron">
    	<p class="lead">Timestamp: {{ timestamp }}</p>
    	
        <h3>Cash: {{ cash }}</h3>
        <h3>Loyalty: {{ loyalty }}</h3>
        <h1>Total: {{ total }}</h1>
    </div>

</div> <!-- /container -->
{{>footer}}
