{{>header}}
<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Cash</th>
            <th>Loyalty</th>
            <th>Total</th>
        </tr>
        {{# purchases }}
        <tr class='clickable-row' data-href='purchases/{{ id }}'>
            <td>{{ id }}</td>
            <td>{{ timestamp }}</td>
            <td>{{ cash }}</td>
            <td>{{ loyalty }}</td>
            <td>{{ total }}</td>
        </tr>
        {{/ purchases }}
    </table>

</div> <!-- /container -->
{{>footer}}
