{{>header}}
<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
        {{# users }}
        <tr class='clickable-row' data-href='users/{{ id }}'>
            <td>{{ id }}</td>
            <td>{{ first }}</td>
            <td>{{ last }}</td>
            <td>{{ email }}</td>
        </tr>
        {{/ users }}
    </table>

</div> <!-- /container -->
{{>footer}}
