{{>header}}
<div class="container">

    <div class="jumbotron">
    	<p class="lead">Timestamp: {{ timestamp }}</p>
    	<p class="lead">Expiration: {{ expiration }}</p>
    	
        <h2>Value: {{ value }}</h2>
        <p class="lead">Redeemed: {{ redeemed }}</p>
        <p class="lead">Expired: {{ expired }}</p>
    </div>

</div> <!-- /container -->
{{>footer}}
