{{>header}}
<div class="container">

    <div class="jumbotron">
        <h1>Value: {{ value }}</h1>
        <p class="lead">Timestamp: {{ timestamp }}</p>
        <p class="lead">Expiration: {{ expiration }}</p>
        <p class="lead">Redeemed: {{ redeemed }}</p>
        <p class="lead">Expired: {{ expired }}</p>
    </div>

</div> <!-- /container -->
{{>footer}}
