        <footer class="main">
            <p>Powered by <a href="http://swift.org">Swift</a>. Built with <a href="http://vapor.codes">Vapor</a>.</p>
        </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/main.js"></script>

    </body>
</html>
