<!DOCTYPE html>
<html>
    <head>
        <title>Royalty</title>

        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/customers.css">
    </head>

    <body>
        <header class="main">
            <h1>Royalty</h1>
        </header>
